

body{
    min-width: 100vh;
    margin: 0;
    padding: 0;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    padding: 10px 24px;
    background-color: #1F2937;
    /* margin: 5px 10px; */
}
.nav{
    display: flex;
    justify-content: space-between;
    
    color: white;
    padding: 6px 48px;
}

.head-content{
    display: flex;
    width: 75%;
    /* max-width: 900px; */
    /* flex: 1; */
    height: 300px;
    color: white;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 60px 50px;
    gap: 16px;
    align-self: center;
    
    
    
}
.web-card{

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    /* align-self: stretch; */   
}
.image{
    border: 1px solid grey;
    display: flex;
    /* flex:0 0 auto; */
    flex:1;
    background-color: grey;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}
.header{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
h1{
    margin: 0;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}
a{
    color: white;
    text-decoration: none;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 6px 10px;
    border: 0;
    border-radius: 6px;
    align-self: flex-start;
}

/* .body{
    display: flex;
} */
.body{
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}
.container{
    display: flex;
    /* flex-wrap: wrap; */
    width: 50%;
    /* justify-content: center;
    al */
    /* flex-direction: column; */
    align-items: center;
    gap: 18px;
    flex: 1;
    justify-content: center;
}

.body p{
    text-align: center;
    color: #1F2937;
}

.img{

    /* align-items: center;2 */
    border: 2px solid blue;
    border-radius: 16px;
    height: 110px;
    
}

.quote{
    
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    margin-bottom: 0px;
}
.quote >p{
    width: 50%;
    font-size: 26px;
    text-align: left;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937bf;
}
p.author{
    display: flex;
    
    align-self: flex-end;
    margin-left: auto;
    /* font-size: 1.2em;*/
    color: black; 
    font-weight: bolder;
    

}